* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.background {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./assets/madara.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .dark {
        width: 100%;
        height: 100%;
        background-color: rgba(12, 12, 12, 0.808);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5%;
       
        header {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            height: 30%;

            img {
                width: 25%;
                object-fit: cover;
            }

            h1 {
                width: 100%;
                font-size: 1.8rem;
                color: #ffffff;
                text-align: center;
            }
        }

        main {
            height: 55%;
            
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5%;
                height: 100%;
            }
        }

        footer {
            display: flex;
            align-items: center;
            height: 15%;

            p {
                width: 100%;
                font-size: 0.9rem;
                color: #ffffff;
                text-align: center;
            }
        }
    }
}